# System files
.DS_Store

# Node modules
node_modules

# IDE and editor configs
.vscode/
.idea/

# Build outputs
/build
Frontend/build/
Backend/uploads/

# Package locks (optional to ignore, but okay)
package-lock.json

# Vite/React config files (optional pattern)
vite.config.*s.*

# Environment files
.env
Frontend/.env
Backend/.env
